body {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  letter-spacing: normal !important;

}

.home-page {
  /* background-image: url('~/assets/img/shadowBackground.png') !important; */
  background-color: #0D0D0D
}

.login-page {
  background-color: #1A1A1A
}


.myFont {
  font-family: "Roboto" !important;
}

.v-application {
  font-family: "Roboto" !important;
}

.lang_rtl.v-application {
  font-family: "Roboto" !important;
}

.lang_ltr.v-application {
  font-family: "Roboto", sans-serif !important;
}

.lang_rtl .v-application {
  font-family: "Roboto" !important;
}

.lang_ltr .v-application {
  font-family: "Roboto", sans-serif !important;
}

.dir-ltr {
  direction: ltr !important;
}

.dir-rtl {
  direction: rtl !important;
}

.v-application {
  font-family: "Roboto" !important;
}

.position__relative {
  position: relative;
}

.position__absolute {
  position: absolute;
}

a {
  text-decoration: none !important;
}

.zi-1 {
  z-index: 1;
}

.v-btn {
  letter-spacing: normal !important;
}

.v-tab {
  letter-spacing: normal !important;
}

.tabs__active {
  background-color: #2E3192;
  color: #FFF !important;
}

.back-light-green {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.min-height-100 {
  min-height: 100%;
}



.trash_icon {
  top: 1px;
  right: 1px;
}

.img-preview {
  width: 100%;
  max-width: 512px;
  height: 100%;
  max-height: 512px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.img-fluid {
  width: 100%;
}

.img-fluid2 {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .img-fluid {
    width: unset;
  }
}

.active__nav {
  background-color: unset !important;
  color: #13AA52 !important;
}

/* .element {
  height: 600px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 99%, 30% 100%, 20% 0%);
  background-color: #13AA52;
}

.element__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
} */

/* .main__back {
  background-image: url('../../assets/image/back2-min.png');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: left center;
} */

.test:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);


}



@media only screen and (max-width: 600px) {
  .main__back {
    background-image: unset;
  }
}

/* @media only screen and (min-width: 1264px) {
  .main__back {
    height: 640px;
    min-height: 640px;
    background-size: contain;
  } */



.dir_left {
  direction: ltr;
}

.dir_right {
  direction: rtl;
}

.line_through {
  text-decoration: line-through;
}

.v-chip span {
  margin-top: 3px;
}

.height__48 {
  height: 50px;
}

.height__72 {
  height: 72px;
  min-height: 72px;
}

.vueperslide--active {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  z-index: 1;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .v-text-field__slot .v-label {
    font-size: 13px;
  }

  input::placeholder {
    font-size: 13px !important;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

.btn__img-icon {
  margin-left: 8px;
  margin-right: -4px;
}

.btn__img-icon2 {
  margin-left: 4px;
  margin-right: 4px;
}

.divider__vertical {
  width: 2px;
  background-color: gray;
  height: 30px;
}

.card_active {
  border: 3px solid #13AA52 !important;
  background-color: #F0F0F1 !important;
}

.card_isnt_active {
  border: unset !important;
  background-color: #F0F0F1 !important;
}

.slider-button-prev, .slider-button-next {
  position: absolute;
  top: 50%;
  width: calc(44px / 44 * 27);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: 44px;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * 44px / 2);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-theme-color);
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.slider-button-prev {
  left: 0px;
  right: auto;
}

.slider-button-next {
  right: 0px;
  left: auto;
}

/* Chrome, Safari, Edge, Opera */

.no-spin input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

.no-spin input[type=number] {
  -moz-appearance: textfield;
}

.range__max {
  position: absolute;
  top: -20px;
  left: 0;
}

.range__min {
  position: absolute;
  top: -20px;
  right: 0;
}

.v-slider__track-container {
  height: 5px !important;
}

.v-slider__track {
  height: 5px !important;
}

.search__btn.v-btn:not(.v-btn--round).v-size--x-large {
  height: 56px !important;
}

.search__icon .v-icon.v-icon {
  font-size: 34px !important;
}

.filter_btn__active {
  color: #13AA52 !important;
  border-bottom: 3px solid #13AA52 !important;
  background-color: transparent !important;
}

.filter_btn__active::before {
  opacity: 0 !important;
}

.mt__6 {
  margin-top: -6px;
}

.line-height__07 {
  line-height: 0.7 !important;
}

.line-height__08 {
  line-height: 0.8 !important;
}

.v-label {
  text-align: right !important;
}

.z-index_15 {
  z-index: 15 !important;
}

.z-index_16 {
  z-index: 16 !important;
}

.vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:after, .vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:before {
  box-shadow: unset !important;
}

.img__ico-height {
  height: 40px;
}

@media only screen and (min-width: 600px) {
  .img__ico-height {
    height: unset;
  }
}

.no-border fieldset {
  border: 0px !important;
}

.badge__product {
  position: absolute !important;
  top: 0;
  right: 0;
}

.border-top {
  border-top: 1px solid #BFBFBF !important;
  background-color: white !important;
}

.border__avatar {
  border: 1px solid #424950;
}

.title__product {
  font-weight: 400;
  line-height: 1.8;
}

@media only screen and (min-width: 600px) {
  .title__product {
    font-weight: 700;
    line-height: unset;
  }
}

.border_green {
  border: 1px solid #13AA52 !important;
}

.no-background .theme--light.v-btn--active:before, .no-background .theme--light.v-btn--active:hover:before {
  opacity: 0 !important;
}

.line-height__18 {
  line-height: 1.8 !important;
}

.width-100 {
  width: 100% !important;
}

.blog__lable {
  position: absolute !important;
  top: 0;
  right: 0
}

.blog__hr {
  height: 8px;
  background-color: #12924F;
}

.vueperslides--fixed-height.vueperslides--bullets-outside {
  margin-bottom: 16px !important;

}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}

.hide-prev-next .v-pagination__navigation {
  display: none;
}

.justify-center .v-responsive__content {
  text-align: center;
}

.video {
  width: 100%;
}

.vueperslides__arrow {
  color: #424950 !important;
}

.v-main {
  min-height: calc(100vh - 112px);
}

.desc p {
  font-size: 16px !important
}

.sticky__blog {
  position: sticky;
  top: 80px;
}

.desc {
  line-height: 2;
}

.bold input::placeholder {
  font-size: 16px !important;
  color: #FFF !important;
}

@media only screen and (max-width: 600px) {
  .bold input::placeholder {
    font-size: 12px !important;

  }
}

.bold2 input::placeholder {
  font-size: 17px !important;

}

.rrcontainer {
  width: 100%;

}


@media only screen and (min-width: 1920px) {
  .rrcontainer {
    width: 1800px;

  }
}

.test4 {
  background-color: #718588;
}

.bottom__navigation {
  position: fixed;
  bottom: 0px;
  z-index: 16;
}

.upload_image-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
}

.v-data-footer__pagination {
  direction: ltr;
}

.width-36 {

  min-width: 38px !important;
}

.v-select__selection,
.v-select__selection--comma,
.v-select.v-text-field input {
  color: #BDBDBD !important;
}

.custom-placeholer-color {
  border-radius: 24.5px !important;
  width: 539px !important;

}

.custom-select {
  border-radius: 24.5px !important;
  /* width: 250px !important; */
}

.custom-select input::label {
  color: #BDBDBD !important;
  opacity: 1;
}

.custom-placeholer-color input::placeholder {
  color: #BDBDBD !important;
  opacity: 1;
}

.custom-label-color .v-label {
  color: #BDBDBD;
  opacity: 1;
}

.custom-placeholer-color input,
.custom-label-color input {
  color: #BDBDBD !important;

}

.notif_box {
  box-sizing: border-box;
  ;
  width: 47px;
  height: 47px;
  background: #111A17;
  border-radius: 50%;
  border: 2px solid #4F4F4F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.account_box {
  box-sizing: border-box;
  z-index: 6 !important;
  width: 86px;
  height: 86px;
  background: #111A17;
  border-radius: 50%;
  border: 2px solid #4F4F4F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.menu_box {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #111A17;

  border: 2px solid #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.menu span {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}

.tournament_card {
  background-color: #333333;
}

.tournament_card .title {
  font-size: 20px !important
}

.tournament_card .title_company {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: white;
  /* margin-left: 0 !important */
}

.f18 {
  font-size: 18px !important;
}

.login-box-login {
  min-width: 400px !important;
}

.forgot-password-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.forgot-password-sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.forgot-password-box {
  width: 352px;
}

.New-Account {
  color: #EB5757;
}

hr.solid {
  border-top: 2px solid #fff;
  width: 100%
}

.ft60 {
  font-size: 40px;
  font-weight: 700;
}

.relative {
  position: relative;

}

div.absolute {
  position: absolute;
  top: -90px;
  right: -110px;
  width: 100%;
  z-index: 100;
}

div.absolute1 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;

}

.absolutePlanHome {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;

}

.absolutePlanHomeText {
  position: absolute;
  bottom: 80px;
  left: 10px;
  width: 100%;

}

.divFilte {
  width: 252px;
  height: 38px;
}

.v-text-field.v-text-field--solo .v-input__control {
  min-height: 38px !important;
  padding: 0;
}

.mt-20 {
  margin-top: 190px !important;
}

.mt-min20 {
  margin-top: -135px !important;
}

.mt-min10 {
  margin-top: -40px !important;
}

.f24 {
  font-size: 24px !important;
}

.f20 {
  font-size: 20px !important;
  font-weight: 400;
}

.f15 {
  font-size: 15px !important;
  font-weight: '400';
}

.f12 {
  font-size: 12px !important;
  font-weight: '400';
}

.f12 {
  font-size: 12px !important;
  font-weight: '400';
}

.success-text {
  color: #2EE17A !important;
}

.modalTile {
  background-color: #8E66FF
}

.modalText {
  background-color: #333333
}

.yearlyPlan {
  width: 155px;
  height: 47px;
  background: #8E66FF;
  border-radius: 23.5px !important;
  position: absolute;
  top: -20px;
  left: 31px;
}

.imgPlan {
  position: absolute;
  top: 153px;
  right: -64px;
  z-index: 10;
}

.f500-18 {
  font-weight: 500;
  font-size: 18px;
}

.f400-14 {
  font-weight: 400;
  font-size: 14px;
}

.f400-16 {
  font-weight: 400;
  font-size: 16px;
}

.f600-16 {
  font-weight: 600;
  font-size: 16px;
}

.f600-30 {
  font-weight: 600;
  font-size: 30px;
}

.f600-10 {
  font-weight: 600;
  font-size: 10px;
}

.greyf2--text {
  color: #F2F2F2
}

.h-25 {
  height: 25px !important;
}

.leader_boadrd_header {
  width: 954px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  color: #BDBDBD
}

.not_active_boadrd {
  width: 874px;
  height: 80px;
  background: transparent;
  border: 1px solid #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  color: #BDBDBD
}

.active_boadrd {
  width: 954px;
  height: 80px;
  background: linear-gradient(180deg, rgba(142, 102, 255, 0.352) 0%, rgba(51, 51, 51, 0) 100%);
  border: 1px solid #8E66FF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 45px;
  color: #BDBDBD
}

.vit {
  color: #EB5757
}

.circle-box-game {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: rgba(46, 225, 122, 0.3);
  filter: blur(50px);
  position: absolute;
  top: 90px;
  right: 15px;
}

.circle-box-pro-account {
  width: 223px;
  height: 223px;


  background: #497FCF;
  filter: blur(60px);
  position: absolute;
  top: 80px;
}

.circle-box-login {
  width: 223px;
  height: 223px;


  background: #497FCF;
  filter: blur(60px);
  position: absolute;
  top: 220px;
}

.z-10 {
  z-index: 10 !important;
}

.game-card {
  width: 80px;
  height: 80px;
  border: 2px solid #4F4F4F;

}

.border-radius13 {
  border-radius: 13px;
}

.circle-box-leaderBord {
  width: 400px;
  height: 400px;
  background: #8e66ff40;
  border-radius: 100%;
  filter: blur(151px);
  position: absolute;
  top: 336px;
  left: 41%;
}

.border-r-41 {
  border-radius: 41px;
}

.border-r-25 {
  border-radius: 25px !important;
}

.border-r-31 {
  border-radius: 31px !important;
}

.absoule-bottom {
  position: absolute;
  bottom: -25px;
  left: 34px;
  z-index: 10px;
}

.b-b-r-5 {
  border-bottom-right-radius: 5px !important;
}

.b-t-r-5 {
  border-top-right-radius: 5px !important;
}

.v-tabs>.v-tabs-bar {
  background-color: #000000 !important;
  color: #8E66FF !important;
}

.leader-board-container {
  width: 1500px;
  background: #000000;
  border-radius: 30px;
  min-height: 1000px;
}

.leader-board-container .v-tabs {
  flex: 1 1 auto;
  width: 100%;
  border-radius: 15px
}

.tournoment-bg {
  width: 1500px;
  background: #000000 !important;
  height: 830px !important;
  overflow: hidden !important;
  overflow-y: scroll !important;
  border-radius: 30px !important
}

.match-card {
  background: #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 832px;
  height: 149px;
}

.time-box {
  width: 178px;
  height: 43px;


  border: 1px solid #8E66FF;
  border-radius: 23.5px;
  margin-top: 20px;
}

.vs-box {
  position: absolute;
  top: -9px;
  right: 63px;
}

.coin-box {

  background: #111A17;
  border: 2px solid #2EE17A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  width: 130px;
  height: 47px;
}

.img-coin-box {
  width: 47px;
  height: 47px;
  border: 2px solid #2EE17A;
  border-radius: 50%;
  position: absolute;
  top: 16px;
}

.main-container {
  max-width: 1500px !important;
  margin: auto;
}

.dashboard-box {
  z-index: 2;
  position: absolute;
  background: #333333;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 0px 25px 25px;
  width: 293px;
  height: 328px;
  right: 0;
  top: 45px;
}

.login-box {
  z-index: 5;
  position: absolute;
  background: #333333;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 0px 25px 25px;
  width: 328px;
  height: 175px;
  right: 0;
  top: 45px;
}

.btn-login {
  width: 133px;
  height: 40px;

  background: #111A17;
  /* Gray 1 */

  border: 2px solid #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75) !important;
  border-radius: 24.5px !important;
}

.notif-modal-box {
  width: 240px;
  z-index: 5;
  height: 251px;
  background: #4F4F4F;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: 63px;
  overflow: hidden;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 37px solid #4F4F4F;
  position: absolute;
  z-index: 0;
  right: 3px;
  top: 41px;

}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}

.select-box {
  width: 252px;
  height: 38px;
  position: relative;
  background: #111A17;
  border: 2px solid #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  border-radius: 24.5px;
  cursor: pointer;

}

.items-select {
  width: 252px;
  height: 157px;
  top: 17px;
  background: #111A17;
  position: absolute;

  border: 2px solid #333333;
  border-radius: 0px 0px 24.5px 24.5px;
}

.search-box {
  top: 17px;
  z-index: 2;
  width: 539px;
  height: 311px;
  position: absolute;
  background: #333333;
  border: 1px solid #4F4F4F;
  border-radius: 0px 0px 24.5px 24.5px;
}

.platform-card {
  width: 76px;
  height: 80px;
  left: 1518px;
  top: 905px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.active-menu {
  border: 2px solid #8E66FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  width: 208px;

}

.active-menu .menu_box {
  margin-top: -2px;
  margin-left: -2px;
}

.search-icon-box {
  position: absolute;
  right: 5px;
  z-index: 3;
  width: 33px;
  bottom: 5px;
  height: 33px;
  background: #8E66FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-card-defeated {
  background: rgba(235, 87, 87, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-radius: 15px;
  width: 832px;
  height: 149px;
}

.match-card-win {
  background: rgba(0, 130, 85, 0.31);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-radius: 15px;
  width: 832px;
  height: 149px;
}

.defeated-box {
  right: -21px;
  width: 232px;
  height: 48px;
  background: #FF4500;
  border-radius: 24px;
  position: absolute;
  top: -55px;
}

.win-box {
  right: -21px;
  width: 232px;
  height: 48px;
  background: #2EE17A;
  border-radius: 24px;
  position: absolute;
  top: -55px;
}

.br-29 {
  border-radius: 29px !important;
}

.plan-filter {
  width: 200px;
  height: 38px;
  border: 1px solid #F5F5F5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.active-tournament-btn {
  border-bottom: 6px solid !important;
  border-radius: 0px !important;
}

.owner-feed-card {
  width: 274px;
  height: 85px;
  display: flex;
  align-items: center;
  background: #000000;
  border-radius: 25px;
}

.pdp-feed-card {
  width: 338px;
  height: 291px;
  background: #000000;
  border-radius: 25px;

}

.pdp-feed-card-detail {
  width: 313px;
  height: 291px;
  background: #000000;
  border-radius: 25px;

}

.br-25 {
  border-radius: 25px !important;
}

.joined-box {
  width: 137px;
  height: 45px;
  background: #000000;
  border: 1px solid #2EE17A;
  border-radius: 29px;
}

.ask-join {
  position: absolute;
  right: -2px;
  bottom: -5px
}

#sarchGame .v-input {
  border: 1px solid #4F4F4F;
}

.lader-board-cup {
  position: absolute;
  left: -53px;
  top: -13px;
}

.leaderboard-avatar-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #4F4F4F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchChar .v-input {
  border: 1px solid #4F4F4F !important;
}

#searchChar .v-icon {
  color: white;
}

.br-22 {
  border-radius: 22px !important;
}

.vueperslides__bullet--active .default {
  background-color: #2EE17A !important;
}


.user-profile-back {

  height: 1450px;

  background: #0D0D0D;
}

.user-profile-avatar-box {
  width: 141px;
  height: 139px;
  border-radius: 50%;
  border: 2px solid #4F4F4F;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
  display: flex;
  justify-content: center;
  align-items: center
}

.mt--2 {
  margin-top: -10px;

}

.user-profile-name {
  position: absolute;
  top: 35px;
  right: 121px;
  z-index: 2;
}

.box-user-oprofile {
  width: 1325px;
  height: 657px;
  left: 296px;
  top: 457px;

  background: #131313;
  border-radius: 30px;
}

.user-profile-top-menu-box {
  width: 628px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 35px !important;
  border-top-right-radius: 35px !important;
}

.Statistics-1-menu {
  width: 366px;
  height: 58px;
  background: linear-gradient(91.04deg, rgba(142, 102, 255, 0) -13.51%, #652FFF 100%);
  border-radius: 10px;
}

.Statistics-2-menu {
  width: 366px;
  height: 58px;
  background: linear-gradient(91.04deg, rgba(142, 102, 255, 0) -13.51%, #2EE17A 100%);
  border-radius: 10px;
}

.Statistics-3-menu {
  width: 366px;
  height: 58px;
  background: linear-gradient(91.04deg, rgba(142, 102, 255, 0) -13.51%, #FF4500 100%);
  border-radius: 10px;
}

.Statistics-4-menu {
  width: 366px;
  height: 58px;
  background: linear-gradient(91.04deg, rgba(142, 102, 255, 0) -13.51%, #FF0042 100%);
  border-radius: 10px;
}

.Statistics-5-menu {
  width: 366px;
  height: 58px;
  background: linear-gradient(91.04deg, rgba(142, 102, 255, 0) -13.51%, #FFEB00 100%);
  border-radius: 10px;
}

.actor-font {
  font-family: 'Actor' !important;
}


.user-info-menu {
  width: 162px;
  height: 58px;
  border: 1px solid #828282;
  border-radius: 10px;
}

.user-info-menu-active {
  width: 162px;
  height: 58px;
  background: linear-gradient(91.04deg, rgba(142, 102, 255, 0) -13.51%, #2EE17A 100%);
  border-radius: 10px;
}

.user-info-box {
  width: 569px;
  height: 370px;
  background: #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#userInfoBox .v-input {
  border: 1px solid #D9D9D9;
  border-radius: 31px;
}

.br-29 {
  border-radius: 29px !important;
}

.frind-list-card {
  width: 488px;
  height: 66px;
  background: #1A1A1A;
  border: 1px solid #828282;
  border-radius: 20px;
  position: relative;
}

.avatatar-frind {
  top: -7px;
  left: -17px;
  position: absolute;
  width: 76px;
  height: 75px;
  border-radius: 50%;
  background: #333333;
  border: 2px solid #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatatar-user {
  top: -5px;
  left: -17px;
  position: absolute;
  width: 76px;
  height: 75px;
  border-radius: 50%;
  background: #333333;
  border: 2px solid #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frind-score {
  width: 201px;
  height: 44px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(101, 47, 255, 0.7) 0%, rgba(142, 102, 255, 0) 100%);
  border-radius: 10px;
}

.h-281 {
  height: 281px !important
}

.user-list-box {
  width: 1400px;
  height: 1031px;
  background: #000000;
  border-radius: 30px;
}

.user-list-box .header-user-list {
  width: 1400px;
  height: 78px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
}

.user-list-card {
  height: 71px;
  background: #0D0D0D;
  border: 1px solid #333333;
  border-radius: 20px;
  position: relative;
}

.user-score {
  width: 467px;
  height: 71px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(101, 47, 255, 0.7) 0%, rgba(142, 102, 255, 0) 100%);
  border-radius: 10px;
}

.bracket-avatar-top {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #000000;
  border: 1px solid #4F4F4F;
  top: -23px;
  position: absolute;
  left: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bracket-avatar-bottom {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #000000;
  border: 1px solid #4F4F4F;
  bottom: -23px;
  position: absolute;
  left: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-avatar-box {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.border-p{
  border: 2px solid #8E66FF;
}

.border-w{
  border: 2px solid #F2F2F2;
}

.border-red{
  border: 2px solid #FF4500 !important;
}

.border-g{
  border: 2px solid #2EE17A !important;
}