h1, h2, h3, h4, h5, h6, p, span {
  letter-spacing: -0.1px !important;
  white-space: normal;
  font-family: "Roboto" !important;
}

.text-rh1, .text-rh2, .text-rh3, .text-rh4, .text-rh5, .text-rh6, .text-rbody-1, .text-rbody-2, .text-rsubtitle-1, .text-rsubtitle-2, .text-roverline, .text-rcaption, .text-rbutton, .text-rsmall {
  letter-spacing: -0.1px;
  white-space: normal;

}

.dana {
  font-family: Dana !important;
}

.dana-fa {
  font-family: DanaFa !important;
}

.desc p, .desc2 p {
  font-size: 16px !important;
  font-weight: 600 !important;
}

h2 strong {
  font-size: 18px !important;
  font-weight: 800 !important;
}

.bigHead {
  font-size: 42px;
  font-weight: 800;
}

.lHead {
  font-size: 20px;
  font-weight: 800;
}

.rHead {
  font-size: 24px !important;
  font-weight: 800 !important;
}

.rheadline {
  font-size: 16px !important;
  font-weight: 600;
}

.title1 {
  font-size: 18px;
  font-weight: 400;
}

.title2 {
  font-size: 18px;
  font-weight: 800;
}

.title3 {
  font-size: 24px !important;
  font-weight: 600 !important;
}

.title4 {
  font-size: 18px;
  font-weight: 600;
}

.title5 {
  font-size: 16px;
  font-weight: 400;
}

.title6 {
  font-size: 14px;
  font-weight: 400;
}

.title7 {
  font-size: 12px;
  font-weight: 400;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.text-rbody {
  font-size: 40px;
}

.text-title {
  font-size: 24px;

}

.text-title2 {
  font-size: 22px;

}

.text-rsubtitle-1 {
  font-size: 20px;
}

.text-rsubtitle-2 {
  font-size: 18px;
}

.text-roverline {
  font-size: 16px;
}

.text-rcaption {
  font-size: 14px;
}

.text-rsmall {
  font-size: 12px !important
}

.text-rvsmall {
  font-size: 10px !important
}


.t24400 {
  font-weight: 400!important;
  font-size: 24px!important;
}

.t24600 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.t20700 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.t16400 {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.t18600 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.t18800 {
  font-size: 18px !important;
  font-weight: 800 !important;
}

.t16600 {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.t14600 {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.t14400 {
  font-size: 14px !important;
  font-weight: 400;
}

.t12400 {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.t10400 {
  font-size: 10px !important;
  font-weight: 400 !important;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.t40500{
  font-size: 40px;
  font-weight: 500;

}
.t18700{
  font-size: 18px;
  font-weight: 700;

}